div#proPanel{
	border: solid 2px #e3e3e3;
	width: auto; 
	height: 150px; 
	margin-top: 450px;
}
div#proPanel div.num1{
	margin-left: 150px;
	float: left;
}
div#proPanel div.num2{
	float: left;
	margin-left: 150px;
}
div#proPanel div.num3{
	float: left;
	margin-left: 150px;
}
div#proPanel div.num4{
	float: left;
	margin-left: 150px;
}
div#proPanel div.num5{
	float: left;
	margin-left: 150px;
}